@use "base/variables";

$text_regular: 400;
$text_medium: 410;
$text_large: 400;
$text_small: 420;
$text_xsmall: 440;
$text_tiny: 470;

[data-theme="light"] {
  background: variables.$color-background;
  color: variables.$color-text-tinted;
  font-weight: $text_regular;

  a {
    text-decoration-color: variables.$color-link;

    &:hover,
    &:focus {
      text-decoration-color: variables.$color-link-hover;
    }
  }

  h2,
  h3 {
    color: variables.$color-text;
  }

  h2,
  h3 {
    font-weight: $text_large;
  }

  h4 {
    font-weight: $text_small;
    color: variables.$color-text-tinted;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  figcaption {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .text-large {
    font-weight: text_large;

    @media all and (min-width: variables.$screen-xl) {
      font-weight: text_large - 30;
    }
  }

  .text-medium {
    font-weight: $text_medium;

    @media all and (min-width: variables.$screen-xl) {
      font-weight: $text_medium - 10;
    }
  }

  .text-small {
    font-weight: $text_small;

    @media all and (min-width: variables.$screen-md) {
      font-weight: $text_small - 10;
    }
  }

  .text-xsmall,
  .small {
    font-weight: $text_xsmall;

    @media all and (min-width: variables.$screen-md) {
      font-weight: $text_xsmall - 30;
    }

    @media all and (min-width: variables.$screen-lg) {
      font-weight: $text_xsmall - 50;
    }
  }

  .text-tiny {
    font-weight: $text_tiny;

    @media all and (min-width: variables.$screen-md) {
      font-weight: $text_tiny - 30;
    }

    @media all and (min-width: variables.$screen-lg) {
      font-weight: $text_tiny - 50;
    }
  }
}

[data-theme="dark"] {
  background: variables.$dark-color-background;
  color: variables.$dark-color-text-tinted;
  font-weight: $text_regular - 30;

  a {
    text-decoration-color: variables.$dark-color-link;

    &:hover,
    &:focus {
      text-decoration-color: variables.$dark-color-link-hover;
    }
  }

  h2,
  h3 {
    color: variables.$dark-color-text;
  }

  h2,
  h3 {
    font-weight: $text_large - 30;
  }

  h4 {
    font-weight: $text_small - 30;
    color: variables.$dark-color-text-tinted;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }

  figcaption {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .text-large {
    font-weight: text_large - 30;

    @media all and (min-width: variables.$screen-xl) {
      font-weight: text_large - 60;
    }
  }

  .text-medium {
    font-weight: $text_medium - 30;

    @media all and (min-width: variables.$screen-lg) {
      font-weight: $text_medium - 40;
    }
  }

  .text-small {
    font-weight: $text_small - 30;

    @media all and (min-width: variables.$screen-md) {
      font-weight: $text_small - 50;
    }
  }

  .text-xsmall,
  .small {
    font-weight: $text_xsmall;

    @media all and (min-width: variables.$screen-md) {
      font-weight: $text_xsmall - 30;
    }

    @media all and (min-width: variables.$screen-lg) {
      font-weight: $text_xsmall - 60;
    }
  }

  .text-tiny {
    font-weight: $text_tiny;

    @media all and (min-width: variables.$screen-md) {
      font-weight: $text_tiny - 30;
    }

    @media all and (min-width: variables.$screen-lg) {
      font-weight: $text_tiny - 60;
    }
  }
}
