@use "../scss/base/variables";

.work {
  margin-top: variables.$spacing;
  font-size: 0.9em;

  @media all and (min-width: variables.$screen-sm) {
    columns: 2;
    column-gap: variables.$padding;
  }
}
