@use "../scss/base/variables";

.work {
  display: grid;
  grid-template-columns: 1fr;
  gap: variables.$padding;
  margin-top: variables.$spacing;
  font-size: 0.9em;

  @media all and (min-width: variables.$screen-sm) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: variables.$padding;
  }

  @media all and (min-width: variables.$screen-xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
