@use "../../assets/scss/base/variables";

.column {
  p:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child {
    @media all and (min-width: variables.$screen-sm) {
      margin-top: 0;
    }
  }

  + .column {
    @media all and (max-width: variables.$screen-sm) {
      padding-top: variables.$padding;

      &:has(h2),
      &:has(h3),
      &:has(h4) {
        padding-top: 0;
      }
    }
  }

  @media all and (max-width: variables.$screen-sm) {
    width: 100% !important;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  &:has(h2),
  &:has(h3),
  &:has(h4) {
    margin-top: 0;
  }
}
