@use "../../assets/scss/base/variables";

.row {
  margin-top: variables.$spacing;

  @media all and (min-width: variables.$screen-sm) {
    display: flex;
    justify-content: space-between;
  }

  .heading:first-child {
    margin-top: 0;
  }
}
