@use "base/variables";

.about {
  div:first-of-type {
    margin-top: variables.$spacing;

    @media all and (min-width: variables.$screen-sm) {
      margin-top: 1em;
    }

    @media all and (min-width: variables.$screen-lg) {
      align-items: center;
    }

    @media all and (min-width: variables.$screen-sm) and (max-width: variables.$screen-lg) {
      + div {
        width: 50vw !important;
      }
    }
  }
}
