@use "./base/variables";

.selectedWork {
  display: grid;
  grid-template-columns: 1fr;
  gap: variables.$padding;

  @media all and (min-width: variables.$screen-md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: variables.$padding;
  }
}
