@use "../base/variables";

#content {
  margin-top: 6vh;
  overflow-x: hidden;

  @media all and (min-width: variables.$screen-lg) {
    max-width: variables.$container-content;
    margin-top: 0;
    padding-left: variables.$container-padding;
    padding-bottom: calc(variables.$footer-height / 2);
  }
}
