@use "../base/variables";

#footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(variables.$spacing / 2);
  margin-bottom: calc(variables.$padding / 4);
}
