@import "../base/variables";

#header {
  padding-top: $padding;
  padding-bottom: $padding;
  font-size: 0.85em;

  @media all and (min-width: $screen-md) {
    font-size: 0.9em;
  }

  .site_title {
    margin: 0;
  }

  a {
    text-decoration-color: transparent;

    &.active {
      text-decoration-color: white !important;
    }

    @media all and (max-width: $screen-md) {
      display: inline-flex;
      align-items: center;
      height: 48px;
    }

    &:hover,
    &:focus {
      text-decoration-color: inherit;
    }
  }
}
