@use "../base/variables";

#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  text-transform: lowercase;

  @media all and (max-width: variables.$screen-lg) {
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: calc(variables.$padding / 2) variables.$padding;
  }

  @media all and (min-width: variables.$screen-lg) {
    //top: variables.$padding;
    min-height: calc(100vh - variables.$footer-height);
    padding-left: 0;
    font-size: 1.5em;
  }

  .title {
    margin: 0;
    font-size: 1em;

    .icon {
      border-radius: 100%;
      margin-right: 0.5em;
    }

    a {
      display: flex;
      align-items: center;
      height: 36px;
      text-decoration: none;
      opacity: 0.8;
      filter: alpha(opacity=80);

      &:hover {
        text-decoration: underline;
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }

    @media all and (min-width: variables.$screen-lg) {
      display: none;
    }
  }

  .nav {
    ul {
      display: flex;
      margin: 0;
      gap: 1em;
      padding: 0;

      @media all and (min-width: variables.$screen-lg) {
        flex-direction: column;
        gap: 0.6em;
      }

      li {
        padding: 0;
        list-style: none;

        @media all and (max-width: variables.$screen-lg) {
          &:nth-child(1) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        opacity: 0.8;
        filter: alpha(opacity=80);
        cursor: pointer;

        &:hover,
        &:focus {
          text-decoration: underline;
          opacity: 1;
          filter: alpha(opacity=100);
        }

        &.active {
          opacity: 1 !important;
          filter: alpha(opacity=100);
          text-decoration: underline !important;
          cursor: default;
        }

        @media all and (max-width: variables.$screen-lg) {
          height: 36px;
        }
      }
    }
  }
}

:global(html[data-theme="light"]) {
  #header {
    color: variables.$color-text;

    @media all and (max-width: variables.$screen-lg) {
      background-color: variables.$color-background;
    }
  }
}

:global(html[data-theme="dark"]) {
  #header {
    color: variables.$dark-color-text;

    @media all and (max-width: variables.$screen-lg) {
      background-color: variables.$dark-color-background;
    }
  }
}
