@use "../base/variables";

#wrapper {
  max-width: variables.$container-site;
  padding: variables.$padding;

  @media all and (min-width: variables.$screen-sm) {
    display: flex;
    gap: variables.$spacing;
    align-items: center;
    min-height: calc(100vh - variables.$footer-height);
  }
}
