@use "../base/variables";

#wrapper {
  max-width: variables.$container-content;
  margin: 0 auto;
  padding: 0 variables.$padding calc(variables.$padding / 5) variables.$padding;

  @media all and (min-width: variables.$screen-sm) {
    padding-top: calc(variables.$padding / 2);
    padding-bottom: calc(variables.$padding / 2);
  }

  @media all and (min-width: variables.$screen-md) {
    padding-top: calc(variables.$padding / 1.5);
    padding-bottom: calc(variables.$padding / 1.5);
  }

  @media all and (min-width: variables.$screen-xl) {
    padding-top: calc(variables.$padding / 2);
    padding-bottom: calc(variables.$padding / 2);
  }
}
