@use "../base/variables";

#wrapper {
  position: relative;
  max-width: variables.$container-site;
  padding: variables.$padding;

  @media all and (min-width: variables.$screen-lg) {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
}
