@use "variables";

html.dark {
  background: variables.$dark-color-background;
  color: variables.$dark-color-text;
  font-weight: 370;

  @media all and (min-width: variables.$screen-sm) {
    font-weight: 360;
  }

  @media all and (min-width: variables.$screen-md) {
    font-weight: 350;
  }

  @media all and (min-width: variables.$screen-xl) {
    font-weight: 340;
  }

  a {
    text-decoration-color: variables.$dark-color-link;

    &:hover,
    &:focus {
      text-decoration-color: variables.$dark-color-link-hover;
    }
  }

  #header {
    .site-title,
    a {
      font-weight: 390;

      @media all and (min-width: variables.$screen-sm) {
        font-weight: 380;
      }

      @media all and (min-width: variables.$screen-md) {
        font-weight: 370;
      }
    }
  }

  #content {
    .time {
      font-weight: 380;
    }

    .label {
      font-weight: 370;
    }

    .meta {
      @media all and (min-width: variables.$screen-md) {
        font-weight: 360;
      }
    }
  }

  #footer {
    font-weight: 390;

    @media all and (min-width: variables.$screen-sm) {
      font-weight: 380;
    }

    @media all and (min-width: variables.$screen-md) {
      font-weight: 370;
    }
  }
}
