// Breakpoints
$screen-xs: 236px;
$screen-sm: 400px;
$screen-md: 608px;
$screen-lg: 920px;
$screen-xl: 1320px;

// Containers
$container-site: 100%;
$container-content: 1600px;
$container-padding: 15vw;
$container-text: 69ch;

// Layout
$content-height: 80vh;
$footer-height: 20vh;

// Spacing
$spacing: 3em;
$padding: 2em;

// Border
$border-radius: 8px;

// Light Mode
$color-background: #f1eff7;
$color-text: rgba(#241438, 0.9);
$color-text-tinted: rgba($color-text, 0.7);
$color-link: #241438a6;
$color-link-hover: #241438;

// Dark Mode
$dark-color-background: #0b0611;
$dark-color-text: #dad8e0;
$dark-color-text-tinted: rgba($dark-color-text, 0.9);
$dark-color-link: #dad8e0a6;
$dark-color-link-hover: #dad8e0;

// Transitions
$duration-fast: 0.2s;
$duration-normal: 0.4s;
$duration-slow: 0.6s;

$ease: cubic-bezier(0.29, 0, 0.28, 1); // https://cubic-bezier.com/#.29,0,.28,1
$ease-in: cubic-bezier(
  0.41,
  0.03,
  1,
  1
); // https://cubic-bezier.com/#.41,.03,1,1
$ease-out: cubic-bezier(
  0,
  0.08,
  0.47,
  1
); // https://cubic-bezier.com/#0,.08,.47,1
$ease-in-out: cubic-bezier(
  0.45,
  0,
  0.55,
  1
); // https://cubic-bezier.com/#.45,0,.55,1

// Animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
