@use "../../assets/scss/base/variables";

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: variables.$padding;

  @media all and (min-width: variables.$screen-xs) {
    grid-template-columns: 1fr 1fr;

    img {
      height: 30vw !important;
    }
  }

  @media all and (min-width: variables.$screen-lg) {
    grid-template-columns: 1fr 1fr 1fr;

    img {
      height: 20vw !important;
    }
  }

  @media all and (min-width: variables.$screen-xl) {
    img {
      height: 15vw !important;
    }
  }
}
