@use "../../assets/scss/base/variables";

.display {
  line-height: 1.35;
  font-size: 1.25em;

  p {
    margin: 0;
  }
}

:global(html[data-theme="dark"]) {
  .display {
    color: variables.$dark-color-text;
  }
}

:global(html[data-theme="light"]) {
  .display {
    color: variables.$color-text;
  }
}
