@use "../../assets/scss/base/variables";

.image {
  + .image {
    margin-top: variables.$padding;
  }

  img {
    max-width: 100%;
    height: auto;

    @media all and (min-width: variables.$screen-lg) {
      min-width: 100%;
    }
  }

  figcaption {
    font-size: 0.8em;
    font-weight: 430;
    opacity: 0.8;
    filter: alpha(opacity=80);

    @media all and (min-width: variables.$screen-sm) {
      font-weight: 420;
    }

    @media all and (min-width: variables.$screen-md) {
      font-weight: 410;
    }
  }
}

:global(body) {
  p + .image {
    margin-top: calc(variables.$padding * 0.8);
  }
}
