@import "../base/variables";

.column {
  + .column {
    @media all and (max-width: $screen-sm) {
      padding-top: $padding;
    }

    @media all and (min-width: $screen-sm) {
      padding-left: $padding;
    }
  }

  @media all and (max-width: $screen-sm) {
    width: 100% !important;

    &:nth-child(1):has(:not(h2)) {
      margin-top: $spacing;
    }
  }

  @media all and (min-width: $screen-sm) {
    &:has(h2),
    &:has(h3),
    &:has(h4) {
      h2,
      h3,
      h4 {
        margin-top: 0;
      }
    }
  }
}
