@import "../base/variables";

.column {
  + .column {
    @media all and (max-width: 566px) {
      padding-top: $padding;

      &:has(h2),
      &:has(h3),
      &:has(h4) {
        padding-top: 0;
      }
    }

    @media all and (min-width: 566px) {
      padding-left: $padding;
    }
  }

  @media all and (max-width: 566px) {
    width: 100% !important;

    &:nth-child(1) {
      h3,
      h2 {
        margin-top: 0;
      }
    }

    &:nth-child(1):has(:not(h2)),
    &:nth-child(1):has(:not(h3)) {
      margin-top: $spacing;
    }
  }

  &:has(h2),
  &:has(h3),
  &:has(h4) {
    margin-top: 0;
  }
}
