@import "../base/variables";

.display {
  max-width: $container-text;
  margin-top: $spacing;
  line-height: 1.35;
  font-size: 1.2em;
  font-weight: 380;

  @media all and (min-width: $screen-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $spacing / 2;
    min-height: 50vh;
  }

  @media all and (min-width: $screen-lg) {
    font-size: 1.5em;
    font-weight: 370;
  }

  p {
    margin: 0;
  }
}
