@import "../base/variables";

.image {
  margin-top: $padding;

  img {
    max-width: 100%;
    height: auto;

    @media all and (min-width: $screen-xl) {
      min-width: 100%;
    }
  }

  figcaption {
    font-size: 0.75em;
    font-weight: 430;

    @media all and (min-width: $screen-sm) {
      font-weight: 420;
    }

    @media all and (min-width: $screen-md) {
      font-weight: 410;
    }
  }
}
