@import "../base/variables";

.entry {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 0.8em;
  font-weight: 420;

  @media all and (min-width: $screen-sm) {
    font-weight: 410;
  }

  .header {
    max-width: $container-text;
    padding-left: 1em;

    @media all and (min-width: $screen-sm) {
      padding-left: 1.5em;
    }

    h3 {
      margin-top: 0;
    }
  }

  .time {
    width: 43vw;
    font-size: 0.85em;
    font-weight: 470;

    @media all and (min-width: $screen-xs) {
      width: 20ch;
    }

    @media all and (min-width: $screen-sm) {
      width: 15ch;
      font-weight: 440;
    }

    @media all and (min-width: $screen-md) {
      width: 15ch;
      font-weight: 420;
    }
  }
}
