@import "../base/variables";

.row {
  margin-top: $spacing;

  @media all and (min-width: 566px) {
    display: flex;
    justify-content: space-between;
  }

  .heading:first-child {
    margin-top: 0;
  }
}
