@import "../base/variables";

.container {
  max-width: $container-text;
  margin-top: $spacing;

  ul {
    font-size: 0.8em;
    font-weight: 420;

    @media all and (min-width: $screen-sm) {
      font-weight: 410;
    }
  }
}
