@use "../../assets/scss/base/variables";

.row {
  margin-top: variables.$spacing;

  @media all and (min-width: variables.$screen-md) {
    display: flex;
    justify-content: space-between;
    gap: variables.$padding;
  }

  .heading:first-child {
    @media all and (min-width: variables.$screen-md) {
      margin-top: 0;
    }
  }

  + .row {
    @media all and (min-width: variables.$screen-md) {
      // margin-top: calc(variables.$spacing * 2);
    }
  }
}
