@use "../../assets/scss/base/variables";

.project {
  display: block;
  margin-bottom: variables.$padding;
  font-size: 0.9em;
  text-decoration: none;

  article {
    display: flex;
    flex-direction: column;
  }

  figure {
    order: -1;

    img {
      border-radius: 8px;
    }
  }

  &:hover,
  &:focus {
    > header {
      opacity: 0.8;
      filter: alpha(opacity=80);
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    font-size: 0.85em;
    opacity: 0.8;
    filter: alpha(opacity=80);

    .meta {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0;
        padding: 0;

        &.type {
          + .type {
            padding-left: 0.25em;

            &:before {
              content: "/";
            }
          }
        }
      }
    }

    .year {
      margin: 0;
    }
  }
}
