@use "../base/variables";

.display {
  max-width: variables.$container-text - 4ch;
  margin-top: variables.$spacing;
  line-height: 1.35;
  font-size: 1.1em;

  @media all and (min-width: variables.$screen-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: variables.$spacing / 2;
    min-height: 30vh;
    font-size: 1.2em;
  }

  @media all and (min-width: variables.$screen-sm) {
    font-size: 1.3em;
  }

  @media all and (min-width: variables.$screen-md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: variables.$spacing / 2;
    min-height: 45vh;
  }

  p {
    margin: 0;
  }
}
