@use "../base/variables";

.container {
  max-width: variables.$container-text;

  @media all and (min-width: variables.$screen-md) {
    margin-top: variables.$spacing * 0.2;
  }

  div:first-child {
    margin-top: 0;
  }

  ul {
    padding: 0;
    font-size: 0.9em;
    font-weight: 420;

    @media all and (min-width: variables.$screen-md) {
      font-weight: 410;
    }

    li {
      list-style: none;
    }
  }
}
