@use "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: variables.$container-text;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  font-weight: inherit;
  line-height: 130%;
  text-transform: lowercase;
}

h2 {
  margin-top: variables.$spacing;
  font-size: 1.25em;
}

h3 {
  margin-top: calc(variables.$spacing * 0.8);
  font-size: 1em;
}

h4 {
  margin-top: calc(variables.$spacing * 0.6);
  font-size: 0.9em;
}

figcaption {
  font-size: 0.6em;
  text-transform: lowercase;
}
