@use "variables";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: variables.$container-text;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  font-weight: inherit;
  line-height: 130%;
}

h2 {
  margin-top: variables.$spacing;
  font-size: 1.25em;

  &:first-of-type {
    margin-top: 0;
  }
}

h3 {
  margin-top: calc(variables.$spacing * 0.8);
  font-size: 1em;
}

h4 {
  margin-top: calc(variables.$spacing * 0.6);
  font-size: 0.8em;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

figcaption {
  opacity: 0.8;
  filter: alpha(opacity=80);
  font-size: 0.6em;
}
