@use "../../assets/scss/base/variables";

.display {
  max-width: variables.$container-text - 4ch;
  margin-top: calc(variables.$spacing * 1.5);
  margin-bottom: calc(variables.$spacing * 2);
  line-height: 1.35;
  font-size: 1.1em;

  @media all and (min-width: variables.$screen-xs) {
    font-size: 1.2em;
  }

  @media all and (min-width: variables.$screen-sm) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
  }

  p {
    margin: 0;
  }
}
