@use "../base/variables";

#content {
  margin-top: 6vh;
  margin-bottom: variables.$footer-height;
  overflow-x: hidden;

  @media all and (min-width: variables.$screen-md) {
    margin-top: variables.$spacing;
  }
}
