@use "../base/variables";

#footer {
  position: relative;
  font-size: 0.8em;
  text-transform: lowercase;
  margin-top: variables.$spacing;
  margin-bottom: variables.$padding;

  .container {
    display: flex;
    max-width: variables.$container-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
  }

  @media all and (min-width: variables.$screen-lg) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;

    .container {
      align-items: flex-end;
      height: variables.$footer-height;
      padding: variables.$padding;
    }
  }

  p,
  ul {
    margin: 0;
    line-height: 2em;
  }

  ul {
    display: inline-flex;
    gap: 1em;

    li {
      list-style: none;
      padding: 0;

      &:before {
        content: "( ";
      }

      &:after {
        content: " )";
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

:global(html[data-theme="dark"] footer) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(variables.$dark-color-background, 0.8) 80%,
    rgba(variables.$dark-color-background, 0.95)
  );
}

:global(html[data-theme="light"] footer) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(variables.$color-background, 0.8) 80%,
    rgba(variables.$color-background, 0.95)
  );
}
