@use "../base/variables";

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 0.8em;
  text-transform: lowercase;
  margin-top: variables.$spacing;
  margin-bottom: variables.$padding;

  @media all and (min-width: variables.$screen-lg) {
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: variables.$footer-height;
    padding: variables.$padding;
    margin-top: 0;
    margin-bottom: 0;
    pointer-events: none;

    * {
      pointer-events: auto;
    }
  }

  @media all and (min-width: variables.$screen-xl) {
    height: calc(variables.$footer-height + 5vh);
  }

  @media all and (min-width: variables.$screen-xxl) {
    padding-bottom: calc(variables.$padding * 0.8);
  }

  p,
  ul {
    margin: 0;
    line-height: 2em;
  }

  ul {
    display: inline-flex;
    gap: 1em;

    li {
      list-style: none;
      padding: 0;

      &:before {
        content: "( ";
      }

      &:after {
        content: " )";
      }

      a {
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
          opacity: 1 !important;
          filter: alpha(opacity=100) !important;
        }
      }
    }
  }
}

:global(html[data-theme="dark"] footer) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(variables.$dark-color-background, 0.8) 80%,
    rgba(variables.$dark-color-background, 0.95)
  );

  a {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
}

:global(html[data-theme="light"] footer) {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(variables.$color-background, 0.8) 80%,
    rgba(variables.$color-background, 0.95)
  );

  a {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
}
