@use "../base/variables";

#header {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: calc(variables.$padding * 0.8) variables.$padding;
  font-size: 0.85em;
  text-transform: lowercase;

  .site_title {
    margin: 0;

    .icon {
      border-radius: 100%;
      margin-right: 0.4em;
    }

    a {
      display: flex;
      align-items: center;
      height: 36px;
    }
  }

  a {
    text-decoration-color: transparent;

    @media all and (max-width: variables.$screen-md) {
      display: inline-flex;
      align-items: center;
      height: 48px;
    }

    &:hover,
    &:focus {
      text-decoration-color: inherit;
    }
  }
}

:global(html.light) {
  #header {
    @media all and (max-width: variables.$screen-md) {
      background-color: variables.$color-background;
      padding: calc(variables.$padding * 0.4) variables.$padding;
    }
  }
}

:global(html.dark) {
  #header {
    @media all and (max-width: variables.$screen-md) {
      background-color: variables.$dark-color-background;
      padding: calc(variables.$padding * 0.4) variables.$padding;
    }
  }
}
