@use "../../assets/scss/base/variables";

.entry {
  display: flex;
  max-width: variables.$container-text;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  font-size: 0.9em;

  .header {
    padding-left: 1em;

    @media all and (min-width: variables.$screen-md) {
      padding-left: 1.5em;
    }

    h3 {
      margin-top: 1em;
    }
  }

  .time {
    width: 20ch;
    font-size: 0.85em;

    @media all and (min-width: variables.$screen-md) {
      width: 15ch;
    }

    @media all and (min-width: variables.$screen-lg) {
      width: 17ch;
    }
  }
}
